 <div class="card p-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="chat-name">
      <span class = "chat-name">チャットルーム名:</span>  <%=  @room.name %>
    </div>

    <div class="header-button">
    <%=link_to "チャットを終了する" , room_path(@room), method: :delete, class: 'endbottun btn btn-outline-primary' %>
   </div>
  </div>

  <!--messages-->
  <div class="card-body">
    <%= render partial: 'message', collection: @messages %>
  </div>

  <div class="card-footer">
      <%= form_with model: [@room, @message], class: "form" ,local: true do  |f| %>
      <div class="form-input d-flex flex-column">
        <%= f.text_field :content, class: 'form-message my-1 py-2 ', placeholder: 'type a message' %>
        <label class = "form-image my-1">
          <span class = "image-file me-1">画像</span>
          <%= f.file_field :image, class: 'hidden me-1 pb-2' %>
        </label>
      </div>
      <div><%= f.submit '送信', class:'form-submit btn btn-primary' %></div>
    <%end%>
  </div>
</div>


