<div class="container-fluid  w-100">
<div class=" d-flex justify-content-center w-100">
  <div class="mb-3 mt-4 w-75">
    <%= render 'shared/error_messages', model: @task, class:"col-sm-8 d-flex flex-column align-items-center w-100" %>
      <div class="mb-3 ">
        <label  class="form-label align-items-center">課題名</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100">
          <%= form.text_field :name, placeholder: '30文字以内' , class:"form-control"  %>
        </div>
      </div>

      <div class="mb-3">
        <label  class="form-label ">タスク詳細</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100 ">
          <%= form.text_area :description, placeholder: "200文字以内", class:"form-control" %>
        </div>
      </div>

      <div class="pt-2 mb-3 dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">タスク担当を選択してください</button>
        <%# <label for="user_id", class=" ">タスク担当を選択してください</label> %>
        <ul class="dropdown-menu pb-0" aria-labelledby="dropdownMenuButton1">
          <ul><select name="user_ids[]" multiple class="border-0 w-100 pb-0">
            <% @event.users.all.each do |user| %>
            <li><option class="dropdown-item align-items-center w-100 py-3 pb-0", value= <%= user.id %>><%= user.nickname %></option></li>
          <% end %>
          </select></ul>
        </ul>
      </div>

      <div class="mb-3">
        <label  class="form-label ">締め切り</label>
        <div class="d-flex">
        <%= raw sprintf(
                        form.date_select(
                         :deadline,
                         use_month_numbers: true,
                         prompt:'--',
                          start_year: (Time.now.year),
                         end_year: (Time.now.year + 5),
                         date_separator: '%s'),
                       "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>"%>
        </div>
      <div class="mb-3 d-flex justify-content-center">
      <%= form.submit "送信", class:"btn btn-primary btn-lg mt-4" %>
  </div>
</div>
</div>