  <% @tasks.each do |task| %>
    <div class="event">
      <%= link_to task.event.name, event_path(task.event.id) %>
    </div>

    <%= task.name %>
    <% task.users.each do |user| %>
     <%= user.nickname %>
    <% end %>
    <%= task.deadline%>
    <%= link_to '詳細', event_task_path(@event.id, task.id), method: :get%>
    <%= link_to '編集', edit_event_task_path(@event.id, task.id) %>
    <%= link_to 'タスクを消去', event_task_path(@event.id, task.id), method: :delete %>
  <% end %>
