<div class="task-body">
  <%= @task.name %>
    <%= @task.user.nickname%>
    <%= @task.deadline%>
    <%= @task.description %>
    <%= link_to '編集', event_task_path(@event.id, @task.id) %>
    <%= link_to 'タスクを消去', event_task_path(@event.id, @task.id), method: :delete %>
</div>