<div class="container-fluid my-3">
  <h3 class="text-center">イベント一覧</h3>
  <%= link_to "企画する", new_event_path, class:"btn btn-primary" %>
</div>


<div class="card-group d-flex justify-content-center p-2" >
  <div class="row row-cols-4 row-cols-md-4 g-4">
    <%# <div class="col-lg-3 col-md-3 col-6"> %>
  <%# <div class="row row-cols-3 row-cols-md-4 g-4"> %>
      <% @events.each do |event| %>
          <div class="card my-3 bg-light vh-50 mx-3" style="width:25rem;">
            <div class="card-body">
              <h4 class="card-title fw-bold"><%= event.name%></h4>
              <h6 class="card-subtitle mb-2 text-muted fst-italic"><%= event.description %></h6>

              <table class="event-table">
                <tbody>
                  <tr>
                    <th class="detail-item">場所</th>
                    <td class="detail-value"><%= event.location %></td>
                  </tr>
                  <tr>
                    <th class="detail-item">ジャンル</th>
                    <td class="detail-value"><%= event.genre.name %></td>
                  </tr>
                  <tr>
                    <th class="detail-item">日にち</th>
                    <td class="detail-value"><%= event.date %></td>
                  </tr>
                  <tr>
                    <th class="detail-item">説明</th>
                    <td class="detail-value"></td>
                  </tr>

                  <tr>
                    <th>Chat rooms</th>
                    <td><%= link_to 'チャットルームへ', rooms_path(event) , class:"btn btn-sm btn-outline-primary m-1" %></td>
                  </tr>

                  <tr>
                    <th class="detail-item">開催者</th>
                    <td class="detail-value">
                    <% @userevents.each do |userevent| %>
                      <% if userevent.event_id == event.id %>
                        <%= userevent.user.nickname %>
                      <% end %>
                    <% end %>
                    </td>
                  </tr>

                  <tr>
                    <th class="detail-item">タスク</th>
                    <%# タスク作成とタスク一覧 %>
                    <% if user_signed_in? %>
                        <% @userevents.each do |userevent| %>
                          <% if userevent.event_id == event.id && userevent.user_id == current_user.id %>
                            <td>
                            <%= link_to 'タスク作成', new_event_task_path(event), class:"btn btn-sm btn-outline-secondary m-1" %>
                            <% if event.tasks.length > 0 %>
                              <%= link_to 'タスク一覧', event_tasks_path(event), class:"btn btn-sm btn-outline-secondary m-1" %>
                            <% end %>
                          <% end %>
                        <% end %>
                    <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      <% end %>

    <%# </div> %>

  <%# </div> %>
  </div>

</div>
