<h1>イベント一覧</h1>
<%= link_to "企画する", new_event_path, class:"post" %>



<div class="contents">
  <% @events.each do |event| %>
    <div class="content_event">

    <table class="event-table">
      <tbody>
        <tr>
          <th class="detail-item">ID</th>
          <td class="detail-value"><%= event.id%></td>
        </tr>
        <tr>
          <th class="detail-item">イベント名</th>
          <td class="detail-value"><%= event.name%></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= event.location %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= event.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">日にち</th>
          <td class="detail-value"><%= event.date %></td>
        </tr>
        <tr>
          <th class="detail-item">説明</th>
          <td class="detail-value"><%= event.description %></td>
        </tr>

        <% @userevents.each do |userevent| %>
        <% if userevent.event_id == event.id %>
        <tr>
          <th class="detail-item">開催者</th>
          <td class="detail-value"><%= userevent.user.nickname %></td>
        </tr>
            
          <% end %>

      <p><%= event.name %></p>

        <span class="event_location">
          <%= event.id %>
        </span>


        <span class="event_location">
          <%= event.location %>
        </span>
        <span class="event_genre">
          <%= event.genre_id %>
        </span>
        <span class="event_date">
          <%= event.date %>
        </span>
        <span class="event_description">
          <%= event.description %>
        </span>

        <%= link_to 'タスク作成', new_event_task_path(event) %> <%= link_to 'チャットルームへ', rooms_path(event) %>



          <% @userevents.each do |userevent| %>
             <% if userevent.event_id == event.id %>
               <%= userevent.user.nickname %>
             
             <% end %>

          <% end %>

      </tbody>
    </table>




        <% if event.tasks.length > 0 %>
          <%= link_to 'タスク一覧', event_tasks_path(event) %>
        <% end %>

    </div>
  <% end %>
</div>


