<h1>イベント一覧</h1>
<%= link_to "企画する", new_event_path, class:"post" %>



<div class="contents">
  <% @events.each do |event| %>
    <div class="content_event">
      <p><%= event.name %></p>

        <span class="event_location">
          <%= event.id %>
        </span>


        <span class="event_location">
          <%= event.location %>
        </span>
        <span class="event_genre">
          <%= event.genre_id %>
        </span>
        <span class="event_date">
          <%= event.date %>
        </span>
        <span class="event_description">
          <%= event.description %>
        </span>

        <%= link_to 'タスク作成', new_event_task_path(event) %> <%= link_to 'チャットルームへ', rooms_path(event) %>



          <% @userevents.each do |userevent| %>
             <% if userevent.event_id == event.id %>
               <%= userevent.user.nickname %>
             
             <% end %>
          <% end %>

          <%= link_to "編集", event_path(event.id), class:"arrange" %>




        <% if event.tasks.length > 0 %>
          <%= link_to 'タスク一覧', event_tasks_path(event) %>
        <% end %>

    </div>
  <% end %>
</div>


