<div class="container-fluid  w-100">
<div class=" d-flex justify-content-center w-100">
  <div class="mb-3 mt-4 w-75">
    <h3 class="text-center">投稿する</h3>
    <%= form_with(model: @event, local:true) do |form| %>
      <div class="mb-3 ">
        <label  class="form-label align-items-center">イベント名</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100">
          <%= form.text_field        :name,        placeholder: "キャンプなど", class:"form-control" %>
        </div>
      </div>

      <div class="mb-3">
        <label  class="form-label ">場所</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100 ">
          <%= form.text_field        :location,    placeholder: "場所", class:"form-control" %>
        </div>
      </div>

      <div class="mb-3">
        <label  class="form-label">イベントタイプをお選んでください</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100">
          <%= form.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box form-select", id:"event-genre"}) %>
        </div>
      </div>

      <div class="mb-3">
        <label  class="form-label">イベント日付</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100">
          <%= form.text_field        :date,        placeholder: "2020/1/1", class:"form-control" %>
        </div>
      </div>

      <div class="mb-3">
        <label  class="form-label">イベント詳細</label>
        <div class="col-sm-8 d-flex flex-column align-items-center w-100">
          <%= form.text_area         :description, placeholder: "キャンプなど", class:"form-control"%>
        </div>
      </div>

      <div class="mb-3 d-flex justify-content-center">
      <input name="event[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%= form.submit "send", class:"btn btn-primary btn-lg mt-4" %>
    <% end %>
  </div>
</div>
</div>