<!DOCTYPE html>
<html>
  <head>
    <title>WEvent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to 'WEvent', root_path, class: "navbar-brand" %>
          <div class="navbar-nav ms-auto">
            <% if user_signed_in? %>
            <div class="username navbar-text nav-item me-5"><%= current_user.nickname %></div>
            <%= link_to 'ログアウト', destroy_user_session_path, class:"nav-item btn btn-outline-dark ms-auto ms-5 my-2", method: :delete %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class:"nav-item btn btn-primary ms-auto ms-5 me-3 my-2" %>
            <%= link_to '登録', new_user_registration_path , class:"nav-item btn btn-primary ms-auto ms-5 me-3 my-2" %>
          <% end %>
            </div>
            </div>
          </div>

      </nav>
    </header>
    <%= yield%>
  </body>
</html>
